body {
    background-color: #5d98a5;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
}

.flex-outer {
    max-width: 800px;
    padding: 0 16px;
}

.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 8px;
}

.flex-outer > li > label + *{
    flex: 1 0 225px;
}

.flex-outer > li > button {
    margin-left: 0px;
    padding: 6px 12px;
}

.flex-outer button {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    margin-right: 10px;
}

.flex-inner li {
    width: 95px;
}

.flex-inner {
    justify-content: space-between;
    flex: 1 0 225px;
}

::placeholder {
    color: black;
}